{% if paginator.posts %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.posts %}
        <li class="item  item--post">
          <article class="article  article--post">
            {% capture excerpt_html %}{{ page.excerpt | markdownify | truncatewords: 60 }}{% endcapture %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              {% unless excerpt_html contains '<h1' %}
                <h2>{{ page.title }}</h2>
              {% endunless %}
              {% include post-meta.html %}
              {{ excerpt_html }}
            </a>
          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% else %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in site.posts %}
        <li class="item  item--post">
          <article class="article  article--post">
            {% capture excerpt_html %}{{ page.excerpt | markdownify | truncatewords: 60 }}{% endcapture %}
            {% unless excerpt_html contains '<h1' %}
              <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
            {% endunless %}
            {% include post-meta.html %}
            {{ excerpt_html }}
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
